body {
	margin: 0px;
	
}
.flex-container{
	flex-direction: column;

}
.heading {
	background-image: linear-gradient( to top, #5b92eb,#d45393 );
	color: white;
	padding: 70px;
	height: 90px;
	font-size: 25px;
}
.me {
	
	display: flex;
    justify-content: space-evenly;
	font-size: 25px;
}
.name h1 {
	text-decoration: underline;
	
}
.pages {
	background-color: #dbd9da;
	margin-top: 150px;
	height: 170px;
	display: flex;
    justify-content: center;
	
	
}
img{
	float: left;
	height: 310px;
	border-radius: 50%;
}
.pages img{
	
	
	height: 35px;
  /*margin-left: 300px;*/
	padding: 30px;
	
}
.myphoto img {
    margin-top: 30px;
}
